<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="36b1da0b-5788-4def-80ab-90834dd414e0" Alias="commentsManagement" Level="2">
  <Info>
    <Name>CommentsManagement</Name>
    <Icon>icon-settings color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>75f59a71-45b2-4e03-bce4-2a2c71046f59</Key>
      <Name>CMSDisplay</Name>
      <Alias>cMSDisplay</Alias>
      <Definition>6992054a-978c-44ef-b3fa-8bcd1452869b</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="comments/management">Management</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fcf7bb7a-64dd-40b2-9d28-e67184bbf09c</Key>
      <Name>PortalDisplay</Name>
      <Alias>portalDisplay</Alias>
      <Definition>1fbc0245-164a-4cd5-b489-654d4fc888c3</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="comments/management">Management</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7f6f297e-ca8b-48ac-bec6-3bd4c53ff4ac</Key>
      <Caption>Comments</Caption>
      <Alias>comments</Alias>
      <Type>Tab</Type>
      <SortOrder>15</SortOrder>
    </Tab>
    <Tab>
      <Key>d5962150-8b6a-4762-9c6e-606100092af7</Key>
      <Caption>Management</Caption>
      <Alias>comments/management</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>