<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6992054a-978c-44ef-b3fa-8bcd1452869b" Alias="CommentsManagement - CMSDisplay" Level="1">
  <Info>
    <Name>CommentsManagement - CMSDisplay</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Hide",
  "LabelOn": "Show",
  "ShowLabels": true
}]]></Config>
</DataType>