<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1fbc0245-164a-4cd5-b489-654d4fc888c3" Alias="CommentsManagement - PortalDisplay" Level="1">
  <Info>
    <Name>CommentsManagement - PortalDisplay</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Hide",
  "LabelOn": "Show",
  "ShowLabels": true
}]]></Config>
</DataType>